.signUpCenter {
  border-radius: 27px;
  margin-bottom: 5px;
  margin-left: 38%;
  min-width: 120px;
}
.headingCenter {
  text-align: center;
  text-transform: uppercase;
}

.signUpHR {
  width: 80%;
  margin: 0px 10% 10px 10%;
}
